
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">
<head>
<title>Online Grocery Shopping in Dubai</title>
<meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0">

<meta name="description" content="Online Grocery shopping Dubai" />


<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            // Slide

            // Accordion
            $('#menu5 > li > a.expanded + ul').slideToggle('medium');
            $('#menu5 > li > a').click(function() {
                $('#menu5 > li > a.expanded').not(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
                $(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
            });
        }, 250);
    });
</script>

<script type="text/javascript" src="catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>

<script type="text/javascript" src="js/a_003.js"></script>

<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<!--[if IE]>
<script type="text/javascript" src="catalog/view/javascript/jquery/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
<![endif]-->


<script type="text/javascript" src="catalog/view/javascript/jquery/tabs.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/ajax_add.js"></script>


<script>
    function sumu(value1, value2) {
        document.getElementById("timeslot_method").value = value1;
        document.getElementById("delivery_date").value = value2;

    }
</script>
<script type="text/javascript" src="catalog/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery.jcarousel.min.js"></script>

<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/flexcroll/flexcrollstyles.css" />


<script type="text/javascript" src="catalog/view/javascript/flexcroll/flexcroll.js"></script>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/ie7.css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/ie6.css" />
<script type="text/javascript" src="catalog/view/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('#logo img');
</script>
<![endif]-->
<script type="text/javascript" src="catalog/view/javascript/css_browser_selector.js"></script>
<script type="text/javascript">

    function noError(){return true;}
    window.onerror = noError;

</script>
<style type="text/css">
    .chrome .ui-datepicker-trigger {
        background-position: left -1px;
    }
    .chrome #menu > ul > li > span {

    }
</style>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28864436-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="js/style.css" rel="stylesheet" type="text/css">


<script type="text/javascript" src="js/pirobox_extended_def_08_2011.js">
</script><script type="text/javascript">
    $(document).ready(function() {
        $.pirobox_ext({
            piro_speed : 700,
            zoom_mode : true,
            move_mode : 'mousemove',
            bg_alpha : 0.5,
            piro_scroll : false,
            share: false
        });
//$('#try_it').click()
    });
</script>
<link rel="stylesheet" type="text/css" href="test2/jquery.autocomplete.css" />
<link rel="stylesheet" type="text/css" href="js/a_002.css">
<script language="javascript" type="text/javascript">
    function mouseOverImage(name,img)
    {
        document.getElementById(name).src = img;
    }

    function mouseOutImage(name,img)
    {
        document.getElementById(name).src = img;
    }
</script>

<script type='text/javascript' src='test2/jquery.autocomplete.js'></script>
<script type="text/javascript">
    $().ready(function() {

        $("#filter_name").autocomplete("test2/get_course_list2.php", {
            width: 267,
            matchContains: true,
            //mustMatch: true,
            //minChars: 1,
            //	multiple: false,
            //highlight: false,
            multipleSeparator: ",",
            selectFirst: false
        });

        $("#filter_name").result(function(event, data, formatted) {
            $("#course_val").val(data[1]);
        });
    });
</script>
<style>

    #exposeMask {
        background:#072a88;
    }
</style>

<script type="text/javascript">
    function open_popup() {
        $('#myId').click();
    }
</script>

</head>

<style>
    body{
        background-image: url(), url();
        background-repeat: repeat-y;
        background-position: top left, top right;
    }
</style>
<body class="" >
<div id="offerstop" style="position:absolute;top:0px;left:34%;width:50px;height:60px;margin-left: 0px;cursor:pointer;z-index:100"><a href="/top-offers" ><img src="image/data/icons/0.gif"  /></a></div>
<div id="container" >
<div id="header">
  <h1 style="display: none;">Online Grocery Shopping in Dubai </h1>
  <div id="logo"><a href="/"><img src="image/logo4.png" title="jasim.ae" alt="jasim.ae" id="logotop" /></a></div>
  <div id="cart">

    <div class="content"></div>
  </div>
  <div id="search">

    <!--input type="button" value="Get Value" /-->
    <input type="hidden" name="course_val" id="course_val" />
    <div class="button-search"></div>
    <input type="hidden" name="course_val" id="course_val" />
    <input name="filter_description" value="0" id="description" type="hidden">
    <input type="text" name="filter_name" id="filter_name" value="Search" onclick="this.value = '';" onkeydown="this.style.color = '#000000';" />
  </div>
  <div id="welcome">
    <span id="hidemobile">Welcome ... You can </span><a  href="http://jasim.ae/index.php?route=account/login"><span>login</span></a> <span id="hidemobile">or</span> <a   href="http://jasim.ae/index.php?route=account/register"><span>create an account</span></a>
  </div>
  <div class="links"><a class="button1" href="http://jasim.ae/index.php?route=common/home"><span>Home</span></a>   <a  href="http://jasim.ae/index.php?route=product/purchased" >Previously Purchased</a>   <a href="http://jasim.ae/index.php?route=account/wishlist" id="wishlist_total">My Favorites List (0)</a><a class="button1" href="http://jasim.ae/index.php?route=account/account"><span>My Account</span></a><a class="button1" href="http://jasim.ae/index.php?route=checkout/cart"><span>Shopping Cart</span></a><a class="button1" href="http://jasim.ae/index.php?route=checkout/checkout"><span>Checkout</span></a></div>
</div>


<div id="menu">
<div class="menu-line"></div>
<ul>


<li onmouseover="mouseOverImage('iimg-Bakery','image/1.gif')"  onmouseout="mouseOutImage('iimg-Bakery','image/1.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Bakery" src="image/1.gif"  alt="Bakery"  /><p>Bakery</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/bread" title="bread">Bread</a></li>


          <li><a href="/specialty-breads" title="specialty-breads">Specialty Breads</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Fruit &amp; Vegetable','image/2.gif')"  onmouseout="mouseOutImage('iimg-Fruit &amp; Vegetable',image/2.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Fruit &amp; Vegetable" src="image/2.gif"  alt="Fruit &amp; Vegetable"  /><p>Fruit &amp; Vegetable</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/fruit" title="fruit">Fruit</a></li>


          <li><a href="/vegetables" title="vegetables">Vegetable</a></li>


          <li><a href="/fresh-herbs" title="fresh-herbs">Fresh Herbs</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Dairy &amp; Eggs','image/3.gif')"  onmouseout="mouseOutImage('iimg-Dairy &amp; Eggs','image/3.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Dairy &amp; Eggs" src="image/3.gif"  alt="Dairy &amp; Eggs"  /><p>Dairy &amp; Eggs</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/fresh-milk" title="fresh-milk">Fresh Milk</a></li>


          <li><a href="/milk-packs" title="milk-packs">Milk Packs</a></li>


          <li><a href="/cream" title="cream">Cream</a></li>


          <li><a href="/eggs" title="eggs">Eggs</a></li>


          <li><a href="/butter-margarine-and-spreads" title="butter-margarine-and-spreads">Butter, Margarine &amp; Spreads</a></li>


          <li><a href="/cheese" title="cheese">Cheese</a></li>


          <li><a href="/yogurts" title="yogurts">Yogurts</a></li>


          <li><a href="/labaneh" title="labaneh">Labaneh</a></li>


          <li><a href="/chilled-desserts" title="chilled-desserts">Chilled Desserts</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Drinks','image/4.gif')"  onmouseout="mouseOutImage('iimg-Drinks','image/4.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Drinks" src="image/4.gif"  alt="Drinks"  /><p>Drinks</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/coffee" title="coffee">Coffee</a></li>


          <li><a href="/tea" title="tea">Tea</a></li>


          <li><a href="/mineral-water" title="mineral-water">Mineral Water</a></li>


          <li><a href="/sports-and-energy-drinks" title="sports-and-energy-drinks">Sports &amp; Energy Drinks</a></li>


          <li><a href="/drinks" title="drinks">Soft Drinks</a></li>


          <li><a href="/squash" title="squash">Squash</a></li>


          <li><a href="/chilled-fruit-juice" title="chilled-fruit-juice">Fresh Fruit Juice</a></li>


          <li><a href="/shelf-fruit-juice" title="shelf-fruit-juice">Shelf Fruit Juice</a></li>


          <li><a href="/powder-milk" title="powder-milk">Powder Milk</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Meat, Fish &amp; Chicken','image/5.gif')"  onmouseout="mouseOutImage('iimg-Meat, Fish &amp; Chicken','image/5.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Meat, Fish &amp; Chicken" src="image/5.gif"  alt="Meat, Fish &amp; Chicken"  /><p>Meat, Fish &amp; Chicken</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/fresh-beef" title="fresh-beef">Fresh Beef</a></li>


          <li><a href="/fresh-chicken" title="fresh-chicken">Fresh Chicken</a></li>


          <li><a href="/fresh-lamb" title="fresh-lamb">Fresh Lamb</a></li>


          <li><a href="/fresh-fish-and-seafood" title="fresh-fish-and-seafood">Fresh Fish &amp; Seafood</a></li>


          <li><a href="/sausages-and-burgers" title="sausages-and-burgers">Sausages &amp; Burgers</a></li>


          <li><a href="/deli-meat-[cold-cuts]" title="deli-meat-[cold-cuts]">Deli Meat [Cold Cuts]</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Frozen','image/6.gif')"  onmouseout="mouseOutImage('iimg-Frozen','image/6.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Frozen" src="image/6.gif"  alt="Frozen"  /><p>Frozen</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/frozen-meat" title="frozen-meat">Frozen Meat</a></li>


          <li><a href="/frozen-chicken" title="frozen-chicken">Frozen Chicken</a></li>


          <li><a href="/frozen-fish-and-seafood" title="frozen-fish-and-seafood">Frozen Fish &amp; Seafood</a></li>


          <li><a href="/ice-cream-and-desserts" title="ice-cream-and-desserts">Ice Cream &amp; Desserts</a></li>


          <li><a href="/frozen-fruit" title="frozen-fruit">Frozen Fruit</a></li>


          <li><a href="/frozen-vegetables-and-potato" title="frozen-vegetables-and-potato">Frozen Vegetables &amp; Potato</a></li>


          <li><a href="/frozen-pizza-and-breads" title="frozen-pizza-and-breads">Frozen Pizza &amp; Breads</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Cans &amp; Jars','image/7.gif')"  onmouseout="mouseOutImage('iimg-Cans &amp; Jars','image/7.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Cans &amp; Jars" src="image/7.gif"  alt="Cans &amp; Jars"  /><p>Cans &amp; Jars</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/oil" title="oil">Oil</a></li>


          <li><a href="/vinegar" title="vinegar">Vinegar</a></li>


          <li><a href="/canned-beans" title="canned-beans">Canned Beans & Vegetables</a></li>


          <li><a href="/canned-tomatoes" title="canned-tomatoes">Canned Tomatoes</a></li>


          <li><a href="/canned-fish" title="canned-fish">Canned Fish and Seafoods</a></li>


          <li><a href="/canned-meat-and-chicken" title="canned-meat-and-chicken">Canned Meat &amp; Chicken</a></li>


          <li><a href="/canned-fruit" title="canned-fruit">Canned Fruit</a></li>


          <li><a href="/pickles-olives-and-marinated-vegetables" title="pickles-olives-and-marinated-vegetables">Pickles and Olives</a></li>


          <li><a href="/ketchup-and-hot-sauce" title="ketchup-and-hot-sauce">Ketchup &amp; Hot Sauce</a></li>


          <li><a href="/dressings" title="dressings">Dressings &amp; Mayonnaise</a></li>


          <li><a href="/pasta-sauce" title="pasta-sauce">Pasta Sauce</a></li>


          <li><a href="/jam-and-spreads" title="jam-and-spreads">Jam &amp; Spreads</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Packets &amp; Cereals','image/8.gif')"  onmouseout="mouseOutImage('iimg-Packets &amp; Cereals','image/8.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Packets &amp; Cereals" src="image/8.gif"  alt="Packets &amp; Cereals"  /><p>Packets &amp; Cereals</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/breakfast-cereals" title="breakfast-cereals">Breakfast Cereals</a></li>


          <li><a href="/oatmeal" title="oatmeal">Oatmeal</a></li>


          <li><a href="/cereal-bars" title="cereal-bars">Cereal Bars</a></li>


          <li><a href="/pasta-and-noodles" title="pasta-and-noodles">Pasta &amp; Noodles</a></li>


          <li><a href="/rice" title="rice">Rice</a></li>


          <li><a href="/packet-soup" title="packet-soup">Packet Soup</a></li>


          <li><a href="/salt-pepper-and-spices" title="salt-pepper-and-spices">Salt, Pepper &amp; Spices</a></li>


          <li><a href="/mixed-herbs-and-spices" title="mixed-herbs-and-spices">Mixed Herbs &amp; Spices</a></li>


          <li><a href="/flour--sugar-and-sweetener" title="flour--sugar-and-sweetener">Flour, Sugar &amp; Sweetener</a></li>


          <li><a href="/home-baking" title="home-baking">Home Baking</a></li>


          <li><a href="/pulses-and-grain" title="pulses-and-grain">Pulses &amp; Grain</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Chocolate &amp; Snacks','image/9.gif')"  onmouseout="mouseOutImage('iimg-Chocolate &amp; Snacks','image/9.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Chocolate &amp; Snacks" src="image/9.gif"  alt="Chocolate &amp; Snacks"  /><p>Chocolate &amp; Snacks</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/chocolate-bars" title="chocolate-bars">Chocolate Bars</a></li>


          <li><a href="/chocolate-bags-and-boxes" title="chocolate-bags-and-boxes">Chocolate Bags &amp; Boxes</a></li>


          <li><a href="/biscuits-and-crackers" title="biscuits-and-crackers">Biscuits &amp; Crackers</a></li>


          <li><a href="/chips-and-snacks" title="chips-and-snacks">Chips &amp; Snacks</a></li>


          <li><a href="/sweets--mints-and-gum" title="sweets--mints-and-gum">Sweets, Mints &amp; Gum</a></li>


          <li><a href="/nuts-and-seeds" title="nuts-and-seeds">Nuts &amp; Seeds</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Cleaning &amp; Homecare','image/10.gif')"  onmouseout="mouseOutImage('iimg-Cleaning &amp; Homecare','image/10.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Cleaning &amp; Homecare" src="image/10.gif"  alt="Cleaning &amp; Homecare"  /><p>Cleaning &amp; Homecare</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/cleaning-supplies" title="cleaning-supplies">Cleaning Supplies</a></li>


          <li><a href="/dishwashing" title="dishwashing">Dishwashing</a></li>


          <li><a href="/laundry" title="laundry">Laundry</a></li>


          <li><a href="/air-freshener" title="air-freshener">Air Freshener</a></li>


          <li><a href="/bags--foils-and-wraps" title="bags--foils-and-wraps">Bags, Foils &amp; Wraps</a></li>


          <li><a href="/tissues-and-toilet-rolls" title="tissues-and-toilet-rolls">Tissues &amp; Toilet Rolls</a></li>


          <li><a href="/insect-killers" title="insect-killers">Insect Killers</a></li>


          <li><a href="/shoe-care" title="shoe-care">Shoe Care</a></li>


          <li><a href="/light-bulbs--cables-and-batteries" title="light-bulbs--cables-and-batteries">Batteries</a></li>


          <li><a href="/disposable" title="disposable">Disposables and Glassware</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Beauty &amp; Health','image/11.gif')"  onmouseout="mouseOutImage('iimg-Beauty &amp; Health','image/11.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Beauty &amp; Health" src="image/11.gif"  alt="Beauty &amp; Health"  /><p>Beauty &amp; Health</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/soap-and-handwash" title="soap-and-handwash">Soap &amp; Handwash</a></li>


          <li><a href="/bath-and-shower" title="bath-and-shower">Bath &amp; Shower</a></li>


          <li><a href="/shampoo-and-conditioner" title="shampoo-and-conditioner">Shampoo &amp; Conditioner</a></li>


          <li><a href="/hair-styling-and-spray" title="hair-styling-and-spray">Hair Styling &amp; Spray</a></li>


          <li><a href="/deodorants" title="deodorants">Deodorants</a></li>


          <li><a href="/body-care" title="body-care">Body Care</a></li>


          <li><a href="/facial-care" title="facial-care">Facial Care</a></li>


          <li><a href="/women-care" title="women-care">Women&#039;s Care</a></li>


          <li><a href="/men-care" title="men-care">Men&#039;s Care</a></li>


          <li><a href="/dental-products" title="dental-products">Dental Products</a></li>


          <li><a href="/sanitary-protection" title="sanitary-protection">Sanitary Protection</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Baby','image/12.gif')"  onmouseout="mouseOutImage('iimg-Baby','image/12.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Baby" src="image/12.gif"  alt="Baby"  /><p>Baby</p>
</a>
      	      <span >
        
        <ul>


          <li><a href="/diapers" title="diapers">Diapers</a></li>


          <li><a href="/baby-food" title="baby-food">Baby Food</a></li>


          <li><a href="/baby-needs" title="baby-needs">Baby Needs</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-Pets','image/13.gif')"  onmouseout="mouseOutImage('iimg-Pets','image/13.gif')" ><a  style='cursor: default;'  >
  <img id="iimg-Pets" src="image/13.gif"  alt="Pets"  /><p>Pets</p>
</a>
      	      <span style='margin-left:-71px;'>
        
        <ul>


          <li><a href="/pet-food" title="pet-food">Pet Food</a></li>

        </ul>

        	      </span>
</li>

<li onmouseover="mouseOverImage('iimg-More','image/14.gif')"  onmouseout="mouseOutImage('iimg-More','image/14.gif')" ><a style='width:76px;cursor: default;'   >
  <img id="iimg-More" src="image/14.gif"  alt="More"  /><p>More</p>
</a>
      	      <span style='margin-left:-76px;' >
        
        <ul>


          <li><a href="/recharge-cards" title="recharge-cards">Recharge Cards</a></li>


          <li><a href="/dietary" title="dietary">Dietary</a></li>

        </ul>

        	      </span>
</li>

</ul>
<div style="" class="menu-line"></div>
</div>







<div id="notification"></div>
<script>
    var cvmenu='<li class="toc-h1"><a class="collapsed" >Bakery</a><ul class="toc-sub closed"><li><a href="/bread">Bread</li><li><a href="/specialty-breads">Specialty Breads</li></ul></li><li class="toc-h1"><a class="collapsed" >Fruit &amp; Vegetable</a><ul class="toc-sub closed"><li><a href="/fruit">Fruit</li><li><a href="/vegetables">Vegetable</li><li><a href="/fresh-herbs">Fresh Herbs</li></ul></li><li class="toc-h1"><a class="collapsed" >Dairy &amp; Eggs</a><ul class="toc-sub closed"><li><a href="/fresh-milk">Fresh Milk</li><li><a href="/milk-packs">Milk Packs</li><li><a href="/cream">Cream</li><li><a href="/eggs">Eggs</li><li><a href="/butter-margarine-and-spreads">Butter, Margarine &amp; Spreads</li><li><a href="/cheese">Cheese</li><li><a href="/yogurts">Yogurts</li><li><a href="/labaneh">Labaneh</li><li><a href="/chilled-desserts">Chilled Desserts</li></ul></li><li class="toc-h1"><a class="collapsed" >Drinks</a><ul class="toc-sub closed"><li><a href="/coffee">Coffee</li><li><a href="/tea">Tea</li><li><a href="/mineral-water">Mineral Water</li><li><a href="/sports-and-energy-drinks">Sports &amp; Energy Drinks</li><li><a href="/drinks">Soft Drinks</li><li><a href="/squash">Squash</li><li><a href="/chilled-fruit-juice">Fresh Fruit Juice</li><li><a href="/shelf-fruit-juice">Shelf Fruit Juice</li><li><a href="/powder-milk">Powder Milk</li></ul></li><li class="toc-h1"><a class="collapsed" >Meat, Fish &amp; Chicken</a><ul class="toc-sub closed"><li><a href="/fresh-beef">Fresh Beef</li><li><a href="/fresh-chicken">Fresh Chicken</li><li><a href="/fresh-lamb">Fresh Lamb</li><li><a href="/fresh-fish-and-seafood">Fresh Fish &amp; Seafood</li><li><a href="/sausages-and-burgers">Sausages &amp; Burgers</li><li><a href="/deli-meat-[cold-cuts]">Deli Meat [Cold Cuts]</li></ul></li><li class="toc-h1"><a class="collapsed" >Frozen</a><ul class="toc-sub closed"><li><a href="/frozen-meat">Frozen Meat</li><li><a href="/frozen-chicken">Frozen Chicken</li><li><a href="/frozen-fish-and-seafood">Frozen Fish &amp; Seafood</li><li><a href="/ice-cream-and-desserts">Ice Cream &amp; Desserts</li><li><a href="/frozen-fruit">Frozen Fruit</li><li><a href="/frozen-vegetables-and-potato">Frozen Vegetables &amp; Potato</li><li><a href="/frozen-pizza-and-breads">Frozen Pizza &amp; Breads</li></ul></li><li class="toc-h1"><a class="collapsed" >Cans &amp; Jars</a><ul class="toc-sub closed"><li><a href="/oil">Oil</li><li><a href="/vinegar">Vinegar</li><li><a href="/canned-beans">Canned Beans & Vegetables</li><li><a href="/canned-tomatoes">Canned Tomatoes</li><li><a href="/canned-fish">Canned Fish and Seafoods</li><li><a href="/canned-meat-and-chicken">Canned Meat &amp; Chicken</li><li><a href="/canned-fruit">Canned Fruit</li><li><a href="/pickles-olives-and-marinated-vegetables">Pickles and Olives</li><li><a href="/ketchup-and-hot-sauce">Ketchup &amp; Hot Sauce</li><li><a href="/dressings">Dressings &amp; Mayonnaise</li><li><a href="/pasta-sauce">Pasta Sauce</li><li><a href="/jam-and-spreads">Jam &amp; Spreads</li></ul></li><li class="toc-h1"><a class="collapsed" >Packets &amp; Cereals</a><ul class="toc-sub closed"><li><a href="/breakfast-cereals">Breakfast Cereals</li><li><a href="/oatmeal">Oatmeal</li><li><a href="/cereal-bars">Cereal Bars</li><li><a href="/pasta-and-noodles">Pasta &amp; Noodles</li><li><a href="/rice">Rice</li><li><a href="/packet-soup">Packet Soup</li><li><a href="/salt-pepper-and-spices">Salt, Pepper &amp; Spices</li><li><a href="/mixed-herbs-and-spices">Mixed Herbs &amp; Spices</li><li><a href="/flour--sugar-and-sweetener">Flour, Sugar &amp; Sweetener</li><li><a href="/home-baking">Home Baking</li><li><a href="/pulses-and-grain">Pulses &amp; Grain</li></ul></li><li class="toc-h1"><a class="collapsed" >Chocolate &amp; Snacks</a><ul class="toc-sub closed"><li><a href="/chocolate-bars">Chocolate Bars</li><li><a href="/chocolate-bags-and-boxes">Chocolate Bags &amp; Boxes</li><li><a href="/biscuits-and-crackers">Biscuits &amp; Crackers</li><li><a href="/chips-and-snacks">Chips &amp; Snacks</li><li><a href="/sweets--mints-and-gum">Sweets, Mints &amp; Gum</li><li><a href="/nuts-and-seeds">Nuts &amp; Seeds</li></ul></li><li class="toc-h1"><a class="collapsed" >Cleaning &amp; Homecare</a><ul class="toc-sub closed"><li><a href="/cleaning-supplies">Cleaning Supplies</li><li><a href="/dishwashing">Dishwashing</li><li><a href="/laundry">Laundry</li><li><a href="/air-freshener">Air Freshener</li><li><a href="/bags--foils-and-wraps">Bags, Foils &amp; Wraps</li><li><a href="/tissues-and-toilet-rolls">Tissues &amp; Toilet Rolls</li><li><a href="/insect-killers">Insect Killers</li><li><a href="/shoe-care">Shoe Care</li><li><a href="/light-bulbs--cables-and-batteries">Batteries</li><li><a href="/disposable">Disposables and Glassware</li></ul></li><li class="toc-h1"><a class="collapsed" >Beauty &amp; Health</a><ul class="toc-sub closed"><li><a href="/soap-and-handwash">Soap &amp; Handwash</li><li><a href="/bath-and-shower">Bath &amp; Shower</li><li><a href="/shampoo-and-conditioner">Shampoo &amp; Conditioner</li><li><a href="/hair-styling-and-spray">Hair Styling &amp; Spray</li><li><a href="/deodorants">Deodorants</li><li><a href="/body-care">Body Care</li><li><a href="/facial-care">Facial Care</li><li><a href="/women-care">Women&#039;s Care</li><li><a href="/men-care">Men&#039;s Care</li><li><a href="/dental-products">Dental Products</li><li><a href="/sanitary-protection">Sanitary Protection</li></ul></li><li class="toc-h1"><a class="collapsed" >Baby</a><ul class="toc-sub closed"><li><a href="/diapers">Diapers</li><li><a href="/baby-food">Baby Food</li><li><a href="/baby-needs">Baby Needs</li></ul></li><li class="toc-h1"><a class="collapsed" >Pets</a><ul class="toc-sub closed"><li><a href="/pet-food">Pet Food</li></ul></li><li class="toc-h1"><a class="collapsed" >More</a><ul class="toc-sub closed"><li><a href="/recharge-cards">Recharge Cards</li><li><a href="/dietary">Dietary</li></ul></li>';
</script>

<div id="content"><center>
  <div class="slideshow" align="center">
    <div id="slideshow0" class="nivoSlider" style="width: 1000px; height: 220px;">
      <a href="http://jasim.ae/index.php?route=product/manufacturer/product&amp;manufacturer_id=242"><img src="image/jasim_Clear_2-1000x220.jpg" alt="Clear" /></a>
    </div>
  </div>
</center>
  <script type="text/javascript"><!--
  $(document).ready(function() {

      $('#slideshow0').nivoSlider();

  });
  --></script>

  <script type="text/javascript">

      $(document).ready(function() {

          // Store variables



      });

  </script>



  <div style="padding:0px 0px 10px 0px;">
    <table width="100%">
      <tr>
        <td valign="top" width="15%">
          <div id="toc-holder" class="toc-holder" style="margin-top:2px;">
            <ul  id="menu5" class="example_menu">
              <script>
                  document.write(cvmenu);
              </script>
            </ul>
          </div>
          <br>
          <a href="http://jasim.ae/index.php?route=product/manufacturer/product&manufacturer_id=8793">
            <img src="image/homead2.jpg" />
          </a>
        </td>
        <td valign="top" align="right" >

          <table   width="800px">
            <tr><td colspan="3" valign="top"><a href="http://jasim.ae/index.php?route=product/manufacturer/product&manufacturer_id=8793"><img src="image/homead.jpg" border="0" /></a></td></tr>
            <tr style="height:30px"><td colspan="3" valign="top"></td></tr>
            <tr><td colspan="3" valign="top"><img src="image/home-banner.gif" border="0" /></td></tr>
            <tr>
              <td align="center"><a href="/fruit"><img src="image/cat1.jpg" />Fruit</a></td>
              <td align="center"><a href="/fresh-beef" ><img src="image/cat2.jpg" />Fresh Beef</a></td>
              <td align="center"><a href="/breakfast-cereals" ><img src="image/cat3.jpg" />Breakfast Cereals</a></td>
            </tr>
            <tr>
              <td align="center"><a href="/coffee" ><img src="image/cat4.jpg" />Coffee</a></td>
              <td align="center"><a href="/cleaning-supplies"><img src="image/cat5.jpg" />Cleaning Supplies</a></td>
              <td align="center"><a href="/recharge-cards" ><img src="image/cat6.jpg" />Recharge Cards</a></td>
            </tr>
          </table>


        </td>
      </tr>
    </table>

  </div>
  <div id="carousel0">
    <ul class="jcarousel-skin-opencart">
      <li><a href="http://jasim.ae/index.php?route=product/manufacturer/product&amp;manufacturer_id=57"><img src="image/Almarai-80x80.jpg" alt="Almarai" title="Almarai" /></a></li>
      <li><a href="http://jasim.ae/index.php?route=product/manufacturer/product&amp;manufacturer_id=187"><img src="image/Cadbury-80x80.jpg" alt="Cadbury" title="Cadbury" /></a></li>
      <li><a href="http://jasim.ae/index.php?route=product/manufacturer/product&amp;manufacturer_id=816"><img src="image/Pepsi-80x80.jpg" alt="Pepsi" title="Pepsi" /></a></li>
      <li><a href="http://jasim.ae/index.php?route=product/manufacturer/product&amp;manufacturer_id=752"><img src="image/Nestle-80x80.jpg" alt="Nestle" title="Nestle" /></a></li>
      <li><a href="http://jasim.ae/index.php?route=product/manufacturer/product&amp;manufacturer_id=596"><img src="image/Kraft-80x80.jpg" alt="Kraft" title="Kraft" /></a></li>
    </ul>
  </div>
  <script type="text/javascript">
      $('#carousel0 ul').jcarousel({
          vertical: false,
          visible: 5,
          scroll: 3});
  </script></div>

<div id="footer">
  <div class="column" align="center">
    <ul style="list-style-type: none;">
      <li align="center" style="color:#fff;font-size:12px"><b>Information</b></li></ul>
    <ul style="list-style-type: none;">
      <li align='center' style='color:#fff;font-size:10px'><a class='button1' href=http://jasim.ae/index.php?route=information/information&amp;information_id=4 align='center' style='color:#fff;font-size:10px'><span>User Agreement</span></a></li><li align='center' style='color:#fff;font-size:10px'><a class='button1' href=http://jasim.ae/index.php?route=information/information&amp;information_id=6 align='center' style='color:#fff;font-size:10px'><span>Delivery Information</span></a></li><li align='center' style='color:#fff;font-size:10px'><a class='button1' href=http://jasim.ae/index.php?route=information/information&amp;information_id=3 align='center' style='color:#fff;font-size:10px'><span>Privacy and Security Policy</span></a></li><li align='center' style='color:#fff;font-size:10px'><a class='button1' href=http://jasim.ae/index.php?route=information/information&amp;information_id=5 align='center' style='color:#fff;font-size:10px'><span>Refund and Return Policy</span></a></li><li align='center' style='color:#fff;font-size:10px'><a class='button1' href=http://jasim.ae/index.php?route=information/information&amp;information_id=10 align='center' style='color:#fff;font-size:10px'><span>OMO Promotion T&amp;C</span></a></li>    </ul>
  </div>
  <div class="column" align="center">
    <ul style="list-style-type: none;">
      <li align="center" style="color:#fff;font-size:12px"><b>Customer Service</b></li></ul>
    <ul align="center" style="list-style-type: none;">
      <li align="center" style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=information/contact" style="color:#fff;font-size:10px">Contact Us</a></li>
      <li align="center" style="color:#fff;font-size:10px"><a href="index.php?route=information/information&information_id=8" style="color:#fff;font-size:10px">FAQ</a></li>

      <li align="center" style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=information/sitemap" style="color:#fff;font-size:10px">Site Map</a></li>
    </ul>
  </div>
  <div class="column" align="center">
    <ul style="list-style-type: none;">
      <li align="center" style="color:#fff;font-size:12px"><b>Extras</b></li></ul>
    <ul align="center" style="list-style-type: none;">
      <li align="center" style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=product/manufacturer" style="color:#fff;font-size:10px">Brands</a></li>


      <li align="center" style="color:#fff;font-size:10px"><a href="/top-offers" style="color:#fff;font-size:10px">Top Offers</a></li>
      <li align="center" style="color:#fff;font-size:10px"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fjasim.ae&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></li>




    </ul>
  </div>
  <div class="column" align="center">
    <ul style="list-style-type: none;">
      <li align="center" style="color:#fff;font-size:12px"><b>My Account</b></li></ul>
    <ul style="list-style-type: none;">
      <li  style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=account/account" style="color:#fff;font-size:10px">My Account</a></li>
      <li  style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=account/order" style="color:#fff;font-size:10px">Order History</a></li>
      <li align="center" style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=account/wishlist" style="color:#fff;font-size:10px">My Favorites List</a></li>
      <li style="color:#fff;font-size:10px"><a href="http://jasim.ae/index.php?route=account/newsletter" style="color:#fff;font-size:10px">Newsletter</a></li>
    </ul>
  </div>
</div>

<div class="copyright">



  <div id="powered" style="color:#fff" >	  &#169 Jasim Trading, 2014. All rights reserved. </div>
</div>
</div>
</body></html>